<footer class="site-footer l-full-width">
	&copy; {{ 'now' | date: "%Y" }} <a href="http://burkesoftware.com">Burke Software and Consulting</a> &nbsp;&bull;&nbsp;
	<a class="privacy-policy" href="/privacy">Privacy Policy</a> &nbsp;&bull;&nbsp;
	<a class="privacy-policy" href="/terms-of-service">Terms of Service</a> &nbsp;&bull;&nbsp;
	<a class="privacy-policy" href="/security">Security Policy</a>
</footer>

<script src="{{ "/dist/js/toggles-switches.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/dist/js/scripts.js" | prepend: site.baseurl }}"></script>