<div class="l-full-width mm-signed-up">
	Thanks for subscribing! We'll let you know how Passit is&nbsp;progressing.
</div>

<nav class="main-nav l-full-width{% if page.pageClass %} main-nav--{{ page.pageClass }}{% endif %}">
	<div class="main-nav__inner{% if page.pageClass %}  l-responsive-with-large{% else %} l-responsive{% endif %}">
		<a class="main-nav__brand" href="{{ site.baseurl }}/">
			<svg role="img" class="main-nav__logo">
				<use xlink:href="#passit-border-logo"></use>
			</svg>
		</a>
		<div class="main-nav__mobile-menu-trigger" data-toggle=".main-nav__links, .mobile-nav-overlay">
			<svg role="img" class="main-nav__mobile-menu-icon">
				<use xlink:href="#hamburger"></use>
			</svg>
		</div>
		<div class="main-nav__links">
			<div class="main-nav__mobile-menu-close" data-toggle=".main-nav__links, .mobile-nav-overlay">×</div>
			<a class="main-nav__link main-nav__link--text" href="{{ site.baseurl }}/blog/">Blog</a>
			<a class="main-nav__link main-nav__link--text" href="{{ site.baseurl }}/documentation/">Documentation</a>
			<a class="main-nav__link main-nav__link--button button button--green" href="{{ site.web_app_url }}account/register">Log In / Sign Up</a>
		</div>
	</div>
</nav>

<div class="mobile-nav-overlay" data-toggle=".main-nav__links, .mobile-nav-overlay"></div>
