<svg style="display: none;">
  <defs>
  		<symbol id="hamburger" viewBox="0 0 1792 1792">
  			<path d="M1664 1344v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45z"/>
  		</symbol>
		<symbol id="passit-border-logo" viewBox="0 0 313 124">
			<path d="M0,124V0h313v124H0L0,124z M9,115h295V9H9V115L9,115z"/>
			<path d="M34.9,90.3V34.1H59c3.5,0,6.5,0.5,9,1.5c2.4,1,4.4,2.4,5.9,4.1s2.5,3.6,3.2,5.7c0.7,2.1,1,4.2,1,6.4c0,1.4-0.2,2.7-0.5,4.1c-0.3,1.4-0.8,2.8-1.5,4.1c-0.6,1.3-1.5,2.6-2.5,3.7c-1,1.2-2.2,2.2-3.7,3c-1.4,0.9-3.1,1.5-4.9,2s-3.9,0.7-6.2,0.7H45.7v20.7H34.9V90.3z M59.4,59.3c1.4,0,2.5-0.2,3.5-0.7c0.9-0.4,1.7-1,2.3-1.7c0.6-0.7,1-1.5,1.3-2.4s0.4-1.8,0.4-2.7c0-0.8-0.1-1.6-0.3-2.5c-0.2-0.9-0.6-1.7-1.2-2.4c-0.6-0.7-1.3-1.3-2.3-1.8s-2.2-0.7-3.6-0.7H45.7v14.9H59.4L59.4,59.3z"/>
			<path d="M115.8,90.3l-4.3-11.6H89.8l-4.3,11.6H73.9l21.5-56.2H106l21.4,56.2H115.8z M102.4,54.2c-0.3-0.7-0.6-1.5-0.9-2.4c-0.3-0.9-0.6-1.8-0.8-2.6c-0.2,0.8-0.5,1.7-0.8,2.6c-0.3,0.9-0.6,1.8-0.9,2.4l-5.6,14.6H108L102.4,54.2z"/>
			<path d="M157.5,49.4c-0.3-0.8-0.8-1.6-1.4-2.3c-0.6-0.7-1.3-1.4-2.1-1.9s-1.7-1-2.7-1.2c-1-0.3-2.2-0.5-3.4-0.5c-2.4,0-4.2,0.5-5.5,1.4c-1.3,0.9-2,2.3-2,4c0,1.1,0.4,2.1,1.3,2.8c0.8,0.8,1.9,1.4,3.3,2.1c1.4,0.6,2.9,1.2,4.6,1.7c1.7,0.5,3.5,1.2,5.3,1.8c1.8,0.7,3.6,1.5,5.3,2.3c1.7,0.9,3.3,2,4.6,3.3c1.3,1.3,2.5,2.9,3.3,4.7c0.8,1.8,1.2,4,1.2,6.5c0,2.7-0.5,5.2-1.6,7.3c-1,2.1-2.5,3.9-4.3,5.4c-1.8,1.5-4,2.6-6.4,3.3c-2.5,0.8-5.2,1.1-8,1.1c-2.6,0-5.1-0.4-7.4-1.1c-2.3-0.7-4.4-1.7-6.2-3.1c-1.9-1.3-3.5-2.9-4.9-4.9c-1.4-1.9-2.5-4-3.3-6.4l9.9-3.7c0.6,1.3,1.3,2.5,2.2,3.6c0.8,1.1,1.8,2,2.8,2.8c1,0.8,2.2,1.4,3.4,1.8c1.2,0.4,2.5,0.7,3.9,0.7c1.4,0,2.6-0.1,3.7-0.4c1.1-0.3,2.1-0.7,2.9-1.3c0.8-0.6,1.4-1.3,1.8-2.1c0.4-0.9,0.6-1.8,0.6-3c0-1.4-0.4-2.5-1.3-3.4c-0.8-0.9-1.9-1.7-3.3-2.4c-1.4-0.7-2.9-1.3-4.6-1.9c-1.7-0.6-3.5-1.2-5.3-1.8c-1.8-0.6-3.6-1.4-5.3-2.2c-1.7-0.8-3.3-1.9-4.6-3.1c-1.4-1.2-2.5-2.7-3.3-4.4c-0.8-1.7-1.3-3.8-1.3-6.3c0-2.1,0.4-4.1,1.3-6c0.8-1.9,2.1-3.5,3.7-4.9c1.6-1.4,3.6-2.5,6-3.4c2.3-0.8,5-1.2,8.1-1.2c2.5,0,4.8,0.3,6.9,1c2,0.7,3.9,1.6,5.4,2.7c1.6,1.2,2.9,2.5,3.9,4.1c1.1,1.6,1.9,3.3,2.4,5.2L157.5,49.4z"/>
			<path d="M203.6,49.4c-0.3-0.8-0.8-1.6-1.4-2.3c-0.6-0.7-1.3-1.4-2-1.9c-0.8-0.5-1.7-1-2.7-1.2c-1-0.3-2.2-0.5-3.4-0.5c-2.4,0-4.2,0.5-5.5,1.4c-1.3,0.9-2,2.3-2,4c0,1.1,0.4,2.1,1.2,2.8c0.8,0.8,1.9,1.4,3.3,2.1c1.3,0.6,2.9,1.2,4.6,1.7s3.5,1.2,5.3,1.8c1.8,0.7,3.6,1.5,5.3,2.3c1.8,0.9,3.3,2,4.6,3.3c1.4,1.3,2.5,2.9,3.3,4.7c0.8,1.8,1.2,4,1.2,6.5c0,2.7-0.5,5.2-1.6,7.3c-1.1,2.1-2.5,3.9-4.3,5.4s-4,2.6-6.4,3.3c-2.5,0.8-5.2,1.1-8,1.1c-2.6,0-5.1-0.4-7.4-1.1c-2.3-0.7-4.4-1.7-6.2-3.1c-1.9-1.3-3.5-2.9-4.9-4.9c-1.4-1.9-2.5-4-3.3-6.4l9.9-3.7c0.6,1.3,1.3,2.5,2.2,3.6c0.8,1.1,1.8,2,2.8,2.8c1.1,0.8,2.2,1.4,3.4,1.8c1.2,0.4,2.5,0.7,3.9,0.7s2.6-0.1,3.7-0.4c1.1-0.3,2.1-0.7,2.9-1.3c0.8-0.6,1.4-1.3,1.9-2.1c0.4-0.9,0.6-1.8,0.6-3c0-1.4-0.4-2.5-1.2-3.4c-0.8-0.9-1.9-1.7-3.3-2.4c-1.4-0.7-2.9-1.3-4.6-1.9c-1.7-0.6-3.5-1.2-5.3-1.8c-1.8-0.6-3.6-1.4-5.3-2.2c-1.7-0.8-3.3-1.9-4.6-3.1c-1.4-1.2-2.5-2.7-3.3-4.4c-0.8-1.7-1.3-3.8-1.3-6.3c0-2.1,0.4-4.1,1.3-6c0.8-1.9,2.1-3.5,3.7-4.9c1.6-1.4,3.6-2.5,6-3.4c2.4-0.8,5-1.2,8.1-1.2c2.5,0,4.8,0.3,6.9,1c2.1,0.7,3.9,1.6,5.4,2.7c1.6,1.2,2.9,2.5,3.9,4.1c1.1,1.6,1.9,3.3,2.4,5.2L203.6,49.4z"/>
			<rect x="223.2" y="34.1" width="10.8" height="56.1"/>
			<polygon points="268.8,44.6 268.8,90.3 258,90.3 258,44.6 242,44.6 242,34.1 284.9,34.1 284.9,44.6 "/>
		</symbol>
		<symbol id="passit-proto-logo" viewBox="0 0 250 60">
			<path d="M-0.5,58.9V2.7h24.1c3.5,0,6.5,0.5,9,1.5c2.4,1,4.4,2.4,5.9,4.1C40,10,41,11.9,41.7,14c0.7,2.1,1,4.2,1,6.4c0,1.4-0.2,2.7-0.5,4.1c-0.3,1.4-0.8,2.8-1.5,4.1c-0.6,1.3-1.5,2.6-2.5,3.7c-1,1.2-2.2,2.2-3.7,3c-1.4,0.9-3.1,1.5-4.9,2c-1.8,0.5-3.9,0.7-6.2,0.7H10.3v20.7H-0.5z M24,27.9c1.4,0,2.5-0.2,3.5-0.7c0.9-0.4,1.7-1,2.3-1.7c0.6-0.7,1-1.5,1.3-2.4c0.3-0.9,0.4-1.8,0.4-2.7c0-0.8-0.1-1.6-0.3-2.5c-0.2-0.9-0.6-1.7-1.2-2.4c-0.6-0.7-1.3-1.3-2.3-1.8c-1-0.5-2.2-0.7-3.6-0.7H10.3v14.9H24z"/>
			<path d="M80.4,58.9l-4.3-11.6H54.4l-4.3,11.6H38.5L60,2.7h10.6L92,58.9H80.4z M67,22.8c-0.3-0.7-0.6-1.5-0.9-2.4c-0.3-0.9-0.6-1.8-0.8-2.6c-0.2,0.8-0.5,1.7-0.8,2.6c-0.3,0.9-0.6,1.8-0.9,2.4l-5.6,14.6h14.6L67,22.8z"/>
			<path d="M122.1,18c-0.3-0.8-0.8-1.6-1.4-2.3c-0.6-0.7-1.3-1.4-2.1-1.9c-0.8-0.5-1.7-1-2.7-1.2c-1-0.3-2.2-0.5-3.4-0.5c-2.4,0-4.2,0.5-5.5,1.4c-1.3,0.9-2,2.3-2,4c0,1.1,0.4,2.1,1.3,2.8c0.8,0.8,1.9,1.4,3.3,2.1c1.4,0.6,2.9,1.2,4.6,1.7c1.7,0.5,3.5,1.2,5.3,1.8c1.8,0.7,3.6,1.5,5.3,2.3c1.7,0.9,3.3,2,4.6,3.3c1.3,1.3,2.5,2.9,3.3,4.7c0.8,1.8,1.2,4,1.2,6.5c0,2.7-0.5,5.2-1.6,7.3c-1,2.1-2.5,3.9-4.3,5.4c-1.8,1.5-4,2.6-6.4,3.3c-2.5,0.8-5.2,1.1-8,1.1c-2.6,0-5.1-0.4-7.4-1.1c-2.3-0.7-4.4-1.7-6.2-3.1c-1.9-1.3-3.5-2.9-4.9-4.9c-1.4-1.9-2.5-4-3.3-6.4l9.9-3.7c0.6,1.3,1.3,2.5,2.2,3.6c0.8,1.1,1.8,2,2.8,2.8c1,0.8,2.2,1.4,3.4,1.8c1.2,0.4,2.5,0.7,3.9,0.7c1.4,0,2.6-0.1,3.7-0.4c1.1-0.3,2.1-0.7,2.9-1.3c0.8-0.6,1.4-1.3,1.8-2.1c0.4-0.9,0.6-1.8,0.6-3c0-1.4-0.4-2.5-1.3-3.4c-0.8-0.9-1.9-1.7-3.3-2.4c-1.4-0.7-2.9-1.3-4.6-1.9c-1.7-0.6-3.5-1.2-5.3-1.8c-1.8-0.6-3.6-1.4-5.3-2.2c-1.7-0.8-3.3-1.9-4.6-3.1c-1.4-1.2-2.5-2.7-3.3-4.4c-0.8-1.7-1.3-3.8-1.3-6.3c0-2.1,0.4-4.1,1.3-6c0.8-1.9,2.1-3.5,3.7-4.9c1.6-1.4,3.6-2.5,6-3.4c2.3-0.8,5-1.2,8.1-1.2c2.5,0,4.8,0.3,6.9,1c2,0.7,3.9,1.6,5.4,2.7c1.6,1.2,2.9,2.5,3.9,4.1c1.1,1.6,1.9,3.3,2.4,5.2L122.1,18z"/>
			<path d="M168.2,18c-0.3-0.8-0.8-1.6-1.4-2.3c-0.6-0.7-1.3-1.4-2-1.9c-0.8-0.5-1.7-1-2.7-1.2c-1-0.3-2.2-0.5-3.4-0.5c-2.4,0-4.2,0.5-5.5,1.4c-1.3,0.9-2,2.3-2,4c0,1.1,0.4,2.1,1.2,2.8c0.8,0.8,1.9,1.4,3.3,2.1c1.3,0.6,2.9,1.2,4.6,1.7c1.7,0.5,3.5,1.2,5.3,1.8c1.8,0.7,3.6,1.5,5.3,2.3c1.8,0.9,3.3,2,4.6,3.3c1.4,1.3,2.5,2.9,3.3,4.7c0.8,1.8,1.2,4,1.2,6.5c0,2.7-0.5,5.2-1.6,7.3c-1.1,2.1-2.5,3.9-4.3,5.4c-1.8,1.5-4,2.6-6.4,3.3c-2.5,0.8-5.2,1.1-8,1.1c-2.6,0-5.1-0.4-7.4-1.1c-2.3-0.7-4.4-1.7-6.2-3.1c-1.9-1.3-3.5-2.9-4.9-4.9c-1.4-1.9-2.5-4-3.3-6.4l9.9-3.7c0.6,1.3,1.3,2.5,2.2,3.6c0.8,1.1,1.8,2,2.8,2.8c1.1,0.8,2.2,1.4,3.4,1.8c1.2,0.4,2.5,0.7,3.9,0.7c1.4,0,2.6-0.1,3.7-0.4c1.1-0.3,2.1-0.7,2.9-1.3c0.8-0.6,1.4-1.3,1.9-2.1c0.4-0.9,0.6-1.8,0.6-3c0-1.4-0.4-2.5-1.2-3.4c-0.8-0.9-1.9-1.7-3.3-2.4c-1.4-0.7-2.9-1.3-4.6-1.9c-1.7-0.6-3.5-1.2-5.3-1.8c-1.8-0.6-3.6-1.4-5.3-2.2c-1.7-0.8-3.3-1.9-4.6-3.1c-1.4-1.2-2.5-2.7-3.3-4.4c-0.8-1.7-1.3-3.8-1.3-6.3c0-2.1,0.4-4.1,1.3-6c0.8-1.9,2.1-3.5,3.7-4.9c1.6-1.4,3.6-2.5,6-3.4c2.4-0.8,5-1.2,8.1-1.2c2.5,0,4.8,0.3,6.9,1c2.1,0.7,3.9,1.6,5.4,2.7c1.6,1.2,2.9,2.5,3.9,4.1c1.1,1.6,1.9,3.3,2.4,5.2L168.2,18z"/>
			<path d="M187.8,58.9V2.7h10.8v56.1H187.8z"/>
			<path d="M233.4,13.2v45.7h-10.8V13.2h-16.1V2.7h42.9v10.5H233.4z"/>
		</symbol>
	</defs>
</svg>

