---
layout: page
title: "Pricing"
pagination:
  enabled: false
---

<h2>Premium Support Option</h2>
<ul class="l-responsive">
  <li>Host on your infrastructure or ours</li>
  <li>Priority email and live chat support</li>
  <li>Update assistance</li>
  <li>$2/user/month</li>
  <li>Email <a href="mailto:sales@passit.io?subject=Passit Billing">sales@passit.io</a></li>
</ul>
