---
layout: default
title: "Passit Blog"
pagination:
  enabled: true
---

<div class="l-full-width blog-hero">
  <div class="l-responsive blog-hero__inner">
    <h2 class="blog-hero__header">Passit Blog</h2>
  </div>

  <picture>
    <source media="(max-width: 767px)"
      srcset="/images/blog/blog-hero-narrow.png 1x,
              /images/blog/blog-hero-narrow@2x.png 2x,
              /images/blog/blog-hero-narrow@3x.png 3x">
    <source
      srcset="/images/blog/blog-hero-long.png 1x,
              /images/blog/blog-hero-long@2x.png 2x,
              /images/blog/blog-hero-long@3x.png 3x">
    <img src="/images/blog/blog-hero-long.png" alt="" class="blog-hero__image">
  </picture>
</div>

<div class="blog-loop l-responsive">
  {% for post in paginator.posts %}
  <div class="blog-loop__post">
    <h3 class="heading-3 blog-loop__post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h3>

    <p class="blog-loop__meta">
      <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %-d, %Y" }}</time>
      • by {% if page.author %}{{ page.author }}{% else %}{{ site.default_author }}{% endif %}
      {% if post.categories %} •
        {% for category_slug in post.categories %}
          {% assign category = site.data.categories[category_slug] %}
          {% if category %}
            <a href="{{ site.autopages.categories.permalink | remove: ":cat" | append: category_slug }}/">
            {{ category.name }}{% if forloop.last == false %}</a>,{% endif %}
          {% else %}
            {{ category_slug }}{% if forloop.last == false %},{% endif %}
          {% endif %}
        {% endfor %}
      {% endif %}
    </p>

    {{ post.excerpt | strip_html }}
  </div>
  {% endfor %}
</div>

<div class="blog-pagination l-responsive">
  {% if paginator.previous_page %}
    <a class="text-link text-link--left-caret blog-pagination__item blog-pagination__item--newer" href="{{ paginator.previous_page_path | prepend: site.baseurl | remove: "index.html" }}">Newer</a>
  {% else %}
    <span class="blog-pagination__item blog-pagination__item--newer blog-pagination__item--inactive">Newer</span>
  {% endif %}
  {% if paginator.next_page %}
    <a class="text-link text-link--caret blog-pagination__item blog-pagination__item--older" href="{{ paginator.next_page_path | prepend: site.baseurl | remove: "index.html" }}">Older</a>
  {% else %}
    <span class="blog-pagination__item blog-pagination__item--older blog-pagination__item--inactive">Older</span>
  {% endif %}
</div>
