---
layout: default
---
<article class="blog-post l-responsive markdown-container" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="blog-post__header">
    <h1 class="blog-post__title" itemprop="name headline">{{ page.title }}</h1>
    <p class="blog-post__meta">
    	<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</time>
	    • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{% if page.author %}{{ page.author }}{% else %}{{ site.default_author }}{% endif %}</span></span>
	    {% if page.categories %}
		    •
	    	{% for category_slug in page.categories %}
			    {% assign category = site.data.categories[category_slug] %}
	    		{% if category %}
				    <a href="{{ site.autopages.categories.permalink | remove: ":cat" | append: category_slug }}/">
					    {{ category.name }}{% if forloop.last == false %}</a>,{% endif %}
					</a>
				{% else %}
					{{ category_slug }}{% if forloop.last == false %}</a>,{% endif %}
	    		{% endif category %}
	    	{% endfor %}
	    {% endif %}
	</p>
  </header>

  <div class="blog-post__content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
