---
layout: default
redirect_from:
  - /security-model/
---

<div class="l-responsive-with-large security-model">
	<h1 class="security-model__title heading-main">Security Model</h1>
	{% for item in site.data.security_model %}
		<h2 class="heading-3 security-model__header">{{ item.title }} <small>{{ item.url }}</small></h2>

		<div class="diagram">
			<div class="client-side">
				<div class="client-side__screen">
					<div class="client-side__passit-banner">
						<svg class="passit-banner__logo">
							<use xlink:href="#passit-proto-logo"></use>
						<svg>
					</div>
					<div class="client-side__user-interaction">
						{% for field in item.client.user_interaction %}
							<div class="user-interaction__label">{{ field.label }}</div>
							<div class="user-interaction__field">{{ field.field }}</div>
						{% endfor %}
					</div>
					<div class="client-side__under-the-hood">
						<ul class="under-the-hood__list">
						{% for action in item.client.under_the_hood %}
							<li class="under-the-hood__list-item{% if action.item == ' ' %} under-the-hood__list-item--no-bullet{% endif %}">{{ action.item }}</li>
						{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			<div class="tubes-and-server">
				{% for thing in item.server %}
					{% unless forloop.first %}
					<div class="client-side__cutoff">
						<div class="client-side">
							<div class="client-side__screen">
									&nbsp;
							</div>
						</div>
					</div>
					{% endunless %}
					<div class="tubes-and-server__group">
						<div class="internet-tubes">
							<div class="internet-tubes__item internet-tubes__item--input">
								{{ thing.input }}
							</div>
							<div class="internet-tubes__item internet-tubes__item--output">
								{{ thing.output }}
							</div>
						</div>

						<div class="server-side">
							<ul class="server-side__list">
							{% for action in thing.actions %}
								<li class="server-side__list-item{% if action.item == ' ' %} server-side__list-item--no-bullet{% endif %}">{{ action.item }}</li>
							{% endfor %}
							</ul>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	{% endfor %}

	<h2 class="heading-3 security-model__header">Sharing Secrets</h2>

	<div class="description">
		First, we create a group with its own public key pair. Then, we add a user to the group. Finally, we add the secret to&nbsp;the&nbsp;group.
	</div>

	<div class="one-off-blocks">
		<div class="one-off-blocks__inner">
			<div class="one-off-blocks__block one-off-blocks__block-group--1">
				Personal Private&nbsp;Key
			</div>
			<div class="one-off-blocks__block-group--2">
				<div class="group-connect group-connect--1-2-bridge"></div>
				<div class="one-off-blocks__between one-off-blocks__between--1">
					Private key decrypts Group membership Secret key, which decrypts Group membership Private&nbsp;Key
				</div>
				<div class="group-connect u-hidden-lg"></div>

				<div class="one-off-blocks__block one-off-blocks__block--group">
					Group Membership
					<ul class="one-off-blocks__block__list">
						<li>Encrypted Secret Key</li>
						<li>Encrypted Private Key</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="one-off-blocks__inner">
			<div class="one-off-blocks__block-group--3">
				<div class="group-connect group-connect--2-3-bridge"></div>
				<div class="one-off-blocks__block one-off-blocks__block--3">
					Group 
					<ul class="one-off-blocks__block__list">
						<li>Public Key</li>
						<li>Conceptually a group has one private key - but it is not stored on the server unencrypted. The private key ciphertext must be copied in for each Group&nbsp;membership.</li>
					</ul>
				</div>
			</div>
			<div class="one-off-blocks__block-group--4">
				<div class="group-connect group-connect--3-4-bridge"></div>
				<div class="one-off-blocks__between one-off-blocks__between--2">
					Group private key decrypts Secret key which decrypts secret&nbsp;ciphertext
				</div>
				<div class="group-connect u-hidden-lg"></div>

				<div class="one-off-blocks__block one-off-blocks__block--group one-off-blocks__block--4">
					Secret Ciphertext (One for each group the secret belongs&nbsp;to)
				</div>
			</div>
		</div>
	</div>
</div>
